@{
    ViewData["Title"] = "PRUEBASS";
}

<h1>HOLA</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hOxi-x1wf6M?si=7fTRg4G4JYmzSzHt"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

