@model TodoViewModel
@using Humanizer;
@using Microsoft.AspNetCore.Components.Web

@{ ViewData["Title"] = "Task List"; }

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>&#x2714;</td>
            <td>Item</td>
            <td>Due</td>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <form asp-action="MarkDone" method="post">
                        <input type="checkbox" class="done-checkbox"/>
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
                <td>@item.Title</td>
                <td>@item.DueAt.Humanize()</td>
            </tr>
        }


        </tbody>
    </table>
    @if (Model.Items.Length == 0)
    {
        <tr>NO HAY ITEMS, AGREGUE UNO</tr>
    }
    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddItemPartial",
            new NewTodoItem()
        )
    </div>
</div>